:root {
    --clr-primary: #9C69E2;
    --clr-secundary: #F063B8;

    --clr-white: #fff;
    --clr-neutral: #4B5D68;
    --clr-accent: #212353;

    --ff-primary: 'Avenir', sans-serif;
    --ff-secundary: 'Helvetica', sans-serif;
}
/* html elements styles */
html {
    overflow-x: hidden;
}

body {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    color: var(--clr-neutral);
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p { 
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secundary);
    color: var(--clr-accent);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 80px;
    line-height: 110%;
}

h3 {
    font-size: 40px;
    line-height: 130%;
}

h5 {
    font-size: 24px;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

strong {
    color: var(--clr-accent);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none; 
}
main {
    width: 90vh;
    margin: auto;
    overflow: visible;
}

footer {
    width: 90vh;
    margin: auto;
    overflow: visible;
    margin-bottom: 2%;
}

header {
    margin-top: 2%;
    /* margin-left: 15%; */
}

button {
    font-family: var(--ff-primary);
    font-weight: 800;
}

section {
    margin-top: 4%;
    margin-bottom: 4%;
}


/* classes styles */
.logo {
    position: relative;
    top: 12px;
}

.navbar {
    margin-left: 7.5%;
}

.nav-link {
    font-size: 16px;
    padding: 2.5%;
}

.active {
    color: var(--clr-accent);
    font-weight: 800;
}

.bttn-demo {
    /* position: relative;
    left: 35%; */
    text-align: center;
    color: var(--clr-accent);
    line-height: 160%;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
}

.bttn-demo span {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
}

.arrow {
    position: relative;
    left: 5%;
    top: 2px;
    width: 24px;
}

.arrow-x {
    position: relative;
    left: 78%;
    top: 2px;
    width: 50px;
}

.arrow-s {
    position: relative;
    left: 80%;
    top: 2px;
    width: 25px;
}

.bttn-primary {
    text-align: center;
    color: var(--clr-white);
    font-size: 18px;
    line-height: 160%;
    width: 170px;
    height: 60px;
    background: var(--clr-primary);
    border-radius: 50px;
    border: none;
}

.bttn-secondary {
    text-align: center;
    color: var(--clr-white);
    font-size: 18px;
    line-height: 160%;
    width: 170px;
    height: 60px;
    background: var(--clr-secundary);
    border-radius: 50px;
    border: none;
}

.hero-title {
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero-copy {
    width: 70%;
}

.about-title {
    position: relative;
    z-index: 1;
}

.about-copy {
    width: 78%;
}

.feature-copy {
    position: relative;
    z-index: 3;
    margin: auto;
    margin-top: 5%;
    width: 55%;
}

.features-item {
    position: relative;
    z-index: 3;
    margin-top: 20px;
    margin-bottom: 10%;
    width: 70%;
    height: 160px;
    font-size: 16px;
    font-weight: 400;
}

.features-title {
    position: relative;
    z-index: 3;
    margin-top: 10%;
}

.features-link {
    z-index: 3;
    font-size: 16px;
    font-weight: 800;
    color: var(--clr-accent);
}

.features-img {
    position: relative;
    z-index: 1;
    width: 90%;
    right: 8%;
}

.slide-card {
    display: flex;
    background-color: var(--clr-white);
    padding: 5%;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0px 20px 0px rgba(132, 59, 201, 0.733);
}

.slide-copy {
    font-size: 16px;
    font-weight: 400;
}

.slide-link {
    font-size: 14px;
    font-weight: 200;
    color: var(--clr-primary);
}

.slide-buttons {
    display: flex;
    margin-top: 80px;
    align-items: center;
}

.slide-circle {
    width: 15px;
}

.white-circle {
    margin-left: 10px;
    width: 8px;
}

.avatar {
    width: 65%;
    border-radius: 50px;
}

.logo-title {
    font-size: 20px;
    font-weight: 800;
    color: var(--clr-accent);
    margin-left: 20px;
}

.footer-logo {
    width: 55%;
    display: block;
}

.footer-address {
    margin-top: 65px;
}

.footer-links {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    color: var(--clr-accent);
    line-height: 250%;

}

.footer-bold {
    font-weight: 500 !important;
    margin-bottom: 10px;
}

.footer-copy {
    line-height: 180% !important;
    letter-spacing: 0.01em;
}

.footer-icons {
    position: relative;
}

.sm-icon {
    z-index: -1;
    margin-right: 7px;
}

.align-left {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.margin-bot {
    margin-bottom: 50px;
}

.margin-bot-s {
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 80px;
}

.margin-top-s {
    margin-top: 30px;
}

.margin-top-x {
    margin-top: 150px;
}

.centered {
    margin-top: 3%;
    margin-bottom: 3%;
}

.center-text {
    text-align: center;
}

.align-end {
    display: flex;
    justify-content: flex-end;
}

.side-margin {
    margin-left: 30px;
    margin-right: 30px;
}

.half-col {
    width: 50%;
}

.quarter-col {
    width: 25%;
}

/* id styles */
#hero-card {
    margin-top: 8%;
    display: flex;
    width: 100%;
    overflow: visible;
}

#hero-img {
    z-index: -1;
    display: flex;
    width: 885px;
    position: relative;
    top: 8vh;
    right: 15vh;
}

#about-card {
    display: flex;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    align-items: center;
}

#features-card {
    display: flex;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    width: 100%;
    justify-content: space-between;
}

#search-card {
    background-image: url(/assets/yellow.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 358px;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

#hours-card {
    background-image: url(/assets/red.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 358px;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    left: 50px;
}

#print-card {
    background-image: url(/assets/magenta.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 358px;
    align-items: center;
    margin-bottom: 50px;
    columns: 2;
}

#security-card {
    background-image: url(/assets/purple.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 358px;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    left: 50px;
}

#testimonial-card {
    margin: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-left: 8%;
    padding-top: 10%;
    width: 100%;
    height: 600px;
    background: var(--clr-primary);
    border-radius: 50px;
    align-items: center;
}

#testimonial-title {
    color: var(--clr-white);
    font-weight: 600;
}

#separator {
    height: 2px;
    background-color: var(--clr-primary);
    opacity: 0.2;
    margin: 0 -9999rem 110px;
}

#try-message {
    display: flex;
    align-items: center;
}

#header-bttn-demo {
    position: relative;
    left: 30%;
}

#fb-icon {
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 15px;
}

#tw-icon {
    z-index: 2;
    position: absolute;
    left: 78px;
    top: 18px;
}

#ig-icon {
    z-index: 2;
    position: absolute;
    left: 140px;
    top: 18px;
}

#vector {
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -210px;
}

#vector1 {
    position: absolute;
    z-index: -1;
    top: -55px;
    left: 340px;
}

#vector2 {
    position: absolute;
    z-index: -1;
    top: 110px;
    left: 320px;
}


#vector3 {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 450px;
}

#vector4 {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 160px;
}

#vector5 {
    position: absolute;
    z-index: -1;
    top: 210px;
    left: 445px;
}

/* ipad syle */
@media (max-width: 850px) {
    main {
        width: 60vh;
        margin: 25px auto;
    }

    #hero-card {
        display: flex;
        flex-wrap: wrap;
    }

    #hero-img {
        margin: 0 auto;
        width: 100%;
        top: 0px;
        right: 0px;
    }

    #header-bttn-demo {
        display: none;
    }

    .half-col {
        width: 110%;
    }

    .hero-title {
        width: 100%;
    }

    .about-title {
        margin: 0 auto 20px;
        width: 80%;
    }

    #about-card {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
    }

    #about-img {
        display: flex;
        margin: 0 auto;
        width: 60%;
    }

    .about-title {
        text-align: center;
    }

    .about-copy {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    #features-card {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
    }

    .feature-copy {
        width: 100%;
    }

    .features-img {
        width: 50%;
        right: 5%;
    }

    .features-item {
        width: 65%;
    }

    #features-card {
        margin: auto;
    }

    #hours-card {
        left: 0;
    }

    #security-card {
        left: 0;
    }

    #vector {
        right: -80%;
    }

    #vector1 {
        left: 135%;
    }

    #vector2 {
        left: 140%;
    }

    #vector3 {
        left: 190%;
    }

    #vector4 {
        left: 75%;
    }

    #vector5 {
        left: 190%;
    }

    .arrow {
        left: 10px;
        top: 2px;
    }

    #testimonial-card {
        margin-top: 6%;
        margin-bottom: 12%;
        padding-left: 0;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    #testimonial-title {
        padding-left: 50px;
    }

    .slide-buttons {
        padding-left: 50px;
    }

   .slide-buttons .arrow-s {
       left: 70%;
   }

   .slide-buttons .arrow-x {
        left: 68%;
   }

    .slide-card {
        display: flex;
        background-color: var(--clr-white);
        margin: 0 auto;
        padding: 5%;
        width: 60%;
    }

    #try-message {
        display: flex;
        flex-wrap: wrap;
    }

    #try-copy {
        margin-bottom: 50px;
    }

    footer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    #social-col {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .footer-logo {
        width: auto;
        margin: 0 auto;
    }

    .footer-address {
        text-align: center;
    }

    #about-col,
    #help-col {
        display: none;
    }

    .quarter-col {
        width: 100%;
    }

    .full-logo {
        position: relative;
        right: 20px;
    }

    #social-col {
        width: 100%;
    }

    .footer-icons {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 0 auto;
    }

    .sm-icon {
        position: relative;
        justify-content: center;
        padding-left: 20px;
    }

    #fb-icon { 
        position: relative;
        left: -34px;
        top: -14px
    }
    
    #tw-icon {
        position: relative;
        left: -37px;
        top: -15px
    }
    
    #ig-icon {
        position: relative;
        left: -37px;
        top: -15px;
    }

}


/* Mobile Style */
@media (max-width: 600px) {

    main {
        width: 45vh;
        margin: 25px auto;
    }

    #features-card {
        padding-left: 10px;
    }

    .features-img {
        width: 50%;
        right: 2%;
    }

    .features-item {
        width: 70%;
    }

    #vector {
        right: -150px;
    }

    #vector1 {
        left: 280px;
    }

    #vector2 {
        left: 250px;
    }

    #vector3 {
        left: 400px;
    }

    #vector4 {
        left: 120px;
    }

    #vector5 {
        left: 400px;
    }

}
